SUPABASE_URL=
SUPABASE_KEY=

# Later use these after setting up some sort of email environment/server for the project, get alerts.
# SMTP_HOST=smtp.gmail.com
# SMTP_PORT=
# SMTP_USER=
# SMTP_PASSWORD=
# SMTP_FROM=
# SMTP_TO=


# Copy this file to .env and fill values for local development.
# To run test, use this command: python -m http.server 8000